<% provide :title, "About" %>
<h1><%= t ".ab" %></h1>
<p>
  <%= t ".the" %> <a href="http://www.railstutorial.org/"><em><%= t ".rails" %></em></a> <%= t ".is" %>
  <a href="http://www.railstutorial.org/book"><%= t ".book" %></a> <%= t ".and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".scre" %></a>
  <%= t ".teach" %>
  <a href="http://rubyonrails.org/"><%= t ".rubyrails" %></a>.
  <%= t ".this" %>
</p>
