<h1><%= t ".resetpass" %></h1>
<p><%= t ".toreset" %></p>
<%= link_to t(".resetpass"), edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p><%= t ".twohours" %></p>
<p>
<%= t ".ifyou" %>
</p>
